#!/bin/bash

set -e

podman run -d \
  --name=portainer \
  --volume /run/user/$(id -u)/podman/podman.sock:/var/run/docker.sock:z \
  --volume /opt/portainer/data:/data:z \
  --publish 8000:8000 \
  --publish 9000:900 \
  --network proxy \
  --label traefik.enable=true \
  --label traefik.http.routers.frontend.rule='Host(`portainer01.griend.dev`)' \
  --label traefik.http.routers.frontend.entrypoints=websecure \
  --label traefik.http.services.frontend.loadbalancer.server.port=9000 \
  --label traefik.http.routers.frontend.service=frontend \
  --label traefik.http.routers.frontend.tls.certresolver=letsencrypt \
  --label traefik.http.routers.edge.rule='Host(`edge01.griend.dev`)' \
  --label traefik.http.routers.edge.entrypoints=websecure \
  --label traefik.http.services.edge.loadbalancer.server.port=8000 \
  --label traefik.http.routers.edge.service=edge \
  --label traefik.http.routers.edge.tls.certresolver=letsencrypt \
  'docker.io/portainer/portainer-ce:{{ admin_portainer_version }}'
